<%= form_for [ comment.note, comment, comment.replies.build ] do |form| %>
  <p>

    &emsp;&emsp; <%= form.text_field :name , placeholder:"name"%>
    <%= form.text_field :body, placeholder:"reply" %>
    <%= form.submit %>
  </p>
<% end %>